.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(88, 84, 84);
  width: 365px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: rgb(197, 197, 203);
}
.statisticInfo {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.titleStatistic {
  border-bottom: 1px solid rgb(82, 73, 73);
  padding-bottom: 30px;
  font-size: 35px;
  padding-top: 30px;
  text-transform: uppercase;
  padding-left: 50px;
}
.infoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: green;
  color: white;
  font-size: 20px;
  border-right: 1px solid black;
}
